*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mainContainer{
    background-image: url('../public/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #433437;
    font-size: 3vh;
    gap: 5vh;
  } 
  
  .calculatorContainer{
    border: 1px solid #433437;
    height: 60vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
  }
  
  .output{
    color: white;
    height: 20vh;
    background-color: #433437;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .input{
    display: flex;
    flex-direction: column;
  }
  
  .inputSection{
    display: flex;
    flex-direction: row;
    flex-basis: 10vh;
  }
  
  .input button{
    background-color: white;
    border: 1px solid #433437;
    flex-basis: 8vw;
    font-size: 3.5vh;
  }
  
  .inputSection .operatorButton{
    background-color: #D2404E;
    color: white;
    font-size: 5.5vh;
  }
  
  button:hover{
    cursor: pointer;
  }

  .combinedButtons{
    display: flex;
    flex-direction: row;
    flex-basis: 8vw;
  }

  @media screen and (max-width: 786px){
    .calculatorContainer{
      width: 96vw;
    }
  
    .input button{
      flex-basis: 24vw;
      font-size: 3.5vh;
    }

    .combinedButtons{
      flex-basis: 24vw;
    }
  }

  @media screen and (max-width: 360px){
    .mainContainer h1 {
      font-size: 3.5vh;
    }
  }